
    <div
      class="flex-1 rounded-t rounded-b-none overflow-hidden shadow bg-slate-50"
    >
      <a
        [routerLink]="[tablero.ruta]"
        class="flex flex-wrap no-underline hover:no-underline"
      >
        <p class="w-full text-gray-600 text-xs md:text-sm px-6">
          Autor: {{tablero.autor}}
        </p>
        <div class="w-full font-bold text-xl text-gray-800 px-6">
            {{tablero.titulo}}
        </div>
        <p class="text-gray-800 text-base px-6 mb-5">
            {{tablero.descripcion}}
        </p>
      </a>
    </div>
    <div
      class="flex-none mt-auto bg-slate-50 rounded-b rounded-t-none overflow-hidden shadow p-6"
    >
      <div class="flex items-center justify-center">
        <button
          class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          [routerLink]="[tablero.ruta]"
        >
          Descubrir
        </button>
      </div>
    </div>
