<div class="bg-white pb-5">
  <div class="container w-full md:max-w-3xl mx-auto pt-20">
    <div
      class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal"
      style="font-family: Georgia, serif"
    >
      <h1
        class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"
      >
        ¿Donde encuentro los datos abiertos publicados por la Alcaldía de Tunja?
      </h1>
      <p class="py-6">
        📰 Los datos abiertos de todas las instituciones públicas se encuentran
        divulgados en la plataforma de datos.gov.co,
        <a
          class="text-violet-500 no-underline hover:underline"
          href="https://www.tailwindcss.com"
          >haz click aquí</a
        >
        para buscar los datos abiertos de la Alcaldía de Tunja.
      </p>
    </div>
    <div
      class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal"
      style="font-family: Georgia, serif"
    >
      <h1
        class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"
      >
        ¿Para que sirven los datos abiertos?
      </h1>
      <p class="py-6">
        Los datos abiertos permiten desarrollar productos o servicios de valor agregado,
        ayudan a fomentar la participación del ciudadano y permiten beneficiar a una comunidad.
        Son reutilizados por sectores como:
      </p>
      <ul>
        <li>👩🏽‍🏫 Academia</li>
        <li>🕵🏽‍♀️ Periodismo</li>
        <li>👩🏽‍💻 Desarrollo de Software</li>
        <li>🏙️ Sociedad Civil</li>
        <li>👨🏽‍⚖️ Entidades Públicas</li>
      </ul>
    </div>
    <div
      class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal"
      style="font-family: Georgia, serif"
    >
      <h1
        class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"
      >
        ¿Porqué son tan importantes los datos abiertos?
      </h1>
      <p class="py-6">
        🎥 El Ministerio de las TIC nos explica en un corto video la gran
        importancia que conlleva la publicación de datos abiertos:
      </p>
      <iframe
        width="727"
        height="409"
        src="https://www.youtube.com/embed/I07pfP-oie8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div
      class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal"
      style="font-family: Georgia, serif"
    >
      <h1
        class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"
      >
        ¿Cómo hago para publicar una implementación a partir de los datos
        abiertos de Tunja?
      </h1>
      <p class="py-6">
        Recuerda que, un resultado de la implementación de los datos abiertos
        puede ser: Una noticia, un artículo (académico o de periodismo), una
        aplicación de software o un análisis de los datos condensados en
        tableros power BI.
      </p>
      <p>
        Puedes realizar tu solicitud para publicar tu implementación en el
        portal TunjaData al correo
        <a href="mailto:soporte.tic@tunja.gov.co">soporte.tic@tunja.gov.co</a>.
      </p>
    </div>
  </div>
</div>
