<nav id="header" class="w-full z-30 top-0 text-white bg-black bg-opacity-25">
  <div
    class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2"
  >
    <div class="pl-4 flex items-center">
      <a
        class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl flex"
        href="#"
      >
        <!--Icon from: http://www.potlabicons.com/ -->
        <img src="assets/logo.png" alt="" srcset="" class="pr-3" />
        <div class="flex-col">
          <span>TUNJADATA</span>
          <p class="text-xs">Gerencia Estratégica de TIC</p>
        </div>
      </a>
    </div>
    <div class="block lg:hidden pr-4">
      <button
        [routerLink]="['/inicio']"
        id="nav-toggle"
        class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
      >
        <svg
          class="fill-current h-6 w-6"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Inicio</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div
      class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
      id="nav-content"
    >
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <button
            id="navAction"
            class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
            [routerLink]="['/inicio']"
            routerLinkActive="opacity-100"
          >
            Inicio
          </button>
        </li>
        <!--     <li class="mr-3">
            <button
            id="navAction"
            class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          
            >
            Tableros
          </button>
          </li> -->
      </ul>
    </div>
  </div>
  <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>
